*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #5a5a5a;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
    /* mac dinh la 16px */
}
/* -------------------------------------------- */
/* ------------------Reuseable------------------ */
/* ------------------------------------------------ */
.btn{
    text-decoration: none;
    color: gray;
    background-color:rgb(131, 203, 231);
    padding: 15px;
    margin-right: 20px;
    border-radius: 20px;
    width: 200px;
    display:inline-block;
    text-align: center;
    text-transform: uppercase;
    transition:all 0.5s ;
}

.btn:hover,
.btn:active{
    background-color: rgb(66, 51, 204);
    color: white;
}

h1,h2,h3{
    text-transform:uppercase;
    letter-spacing: 1px;
}

h1{
    font-size: 300%;
    font-weight: 500;
    word-spacing: 5px;
    color: white;
    line-height: 135%;
    margin-bottom: 15px;
}

h2{
    font-size: 180%;
    font-weight: 700;
    color: dimgray;
    text-align: center;
    margin-top: 10px;
}

.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}

h2::after{
    content: " ";
    display: block;
    width: 180px;
    height: 3px;
    background-color: rgb(148, 146, 146);
    margin: 0 auto;
    margin-bottom: 5px;
}

h3{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: rgb(32, 32, 104);
    color: white;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-bottom: 10px;
}

.p-long{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 70%;
    margin-left: 15%;
    line-height: 130%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: 500;
}
/* -------------------------------------------- */
/* ------------------HEADER------------------ */
/* ------------------------------------------------ */
header{
    background-image: linear-gradient(45deg,rgba(30,66,88,0.8),rgba(45,95,93,0.4)), url("../img/background4.jpeg");
    background-size: cover;
    /* background-position: center; */
    height: 100vh;
    /* view height */
    background-attachment: fixed;
}

.logo{
    width: 350px;
    float: left;
    margin-left: 70px;
    margin-top: -50px;
}

.main-nav{
    float: right;
    list-style: none;
    margin: 50px 50px ;
}

.main-nav li{
    display: inline-block;
    margin-right: 20px;
    
}

.main-nav li a{
    text-decoration: none;
    font-size: 110%;
    font-weight: 1000px;
    color:white;
    transition: border-bottom 0.5s;
    padding: 3px 0;
}

.main-nav li a:hover,
.main-nav li a:active{
   border-bottom: 3px solid white;
}

.row{
    width: 1140px;
    margin: 0 100px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-55%); */
}

h1{
    text-transform: uppercase;
    font-size: 300%;
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: 5px;
    color: white;
    line-height: 135%;
    margin-bottom: 15px;
}

/* -------------------------------------------- */
/* ------------------SESSION------------------ */
/* ------------------------------------------------ */
.about-picture{
    position: relative;
}

.about-picture img{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15%;
    width: 90%;
    border-radius: 25px;
    border: 4px solid rgb(182, 220, 235);
    box-shadow: -2px 0px 15px 0px rgb(66, 51, 204) ;
    /* filter: brightness(70%); */
    transition: all 0.5s;
}

.picture-tittle{
    position:absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%,100%);
    color: rgb(211, 213, 214);
    opacity: 0;
    transition: all 0.5s;
    
}

.about-picture:hover img,
.about-picture:active img{
    filter: brightness(60%) blur(1px);
}


.about-picture:hover .picture-tittle,
.about-picture:active .picture-tittle{
    transform: translate(-50%,-50%);
    opacity: 1;
}

/* -------------------------------------------- */
/* ----------------PRODUCT-SESSION---------------- */
/* ------------------------------------------------ */

.products-section{
    background-color: rgb(235, 235, 235);
}

.product-box{
    background-color: rgb(235, 235, 235);
    width: 90%;
    margin-left: 20px;
    height: 350px;
    border-radius: 20px;
    box-shadow: -2px 0px 15px 0px rgb(16, 12, 53) ;
}

.product-price{
    color: rgb(15, 15, 49);
    font-weight: 300;
    font-size: 250%;
    text-align: center;
}

.product-price span{
    font-size: 80%;
}

.product-box ul li{
    margin-left: 30%;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
.small-icon{
    color: rgba(8, 60, 95, 0.815);
    font-size: 120%;
    margin-right: 5px;
}

.product-box .btn{
    margin-left: 27%;
    margin-top: 20px;
}
/* -------------------------------------------- */
/* ------------------TESTIMONAILS------------------ */
/* ------------------------------------------------ */
.testimonails-section{
    background-image: linear-gradient(45deg,rgba(30,66,88,0.8),rgba(45,95,93,0.4)), url("../img/background2.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* view height */
    background-attachment: fixed;
}

.testimonails-section h2{
    margin-bottom: 50px;
    padding-top: 50px;
}


blockquote{

    font-style: italic;
    line-height: 140%;
    color:white
}

cite{
    margin-top: 10px;
    display: block;
    font-weight: 300;
    
}

cite img{
    height: 50px;
    border: 2px solid darkblue;
    border-radius: 50%;
    vertical-align:middle ;
    margin-right: 10px;

}

/* -------------------------------------------- */
/* ------------------SPONSOR SECTION------------------ */
/* ------------------------------------------------ */

.sponsors-section{
    background-color: white;
}

.sponsors-section h2{
    margin-bottom: 100px;
}

.logo-sponsor{
    width: 140px;
    cursor: pointer;
    transition: all 0.3s;
}

.sponsors-showcase{
    margin-left: 24%;
}

.sponsors-showcase li{
    list-style: none;
    float: left;
    width: 30%;
    text-align: center;
    margin-bottom: 50px;
}

.sponsors-showcase li .logo-sponsor:hover,
.sponsors-showcase li .logo-sponsor:active{
    transform: scale(1.2);
}


figcaption{
    color: rgb(10, 10, 65);
    font-size: 140%;
    font-weight: 800;
    transition: all 0.3s;
}


/* -------------------------------------------- */
/* ------------------CONTACT SECTION------------------ */
/* ------------------------------------------------ */
.contact-section{
    background-image: linear-gradient(45deg,rgba(30,66,88,0.8),rgba(45,95,93,0.4)), url("../img/background5.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* view height */
    background-attachment: fixed;
}


footer{
    text-align: center;
    background-color: rgb(100, 100, 100);
    color: white;
    padding: 15px
}



